{
    "project": {
        "id": "YOUR-PROJECT-ID",
        "region": "YOUR-PROJECT-REGION"
    },
    "sendgrid": {
        "api_key": "YOUR-SENDGRID-API-KEY",
        "from_email": "example@mydomain.com"
    },
    "https": {
        "api_key": "my-https-functions-api-key"
    }
}